/* .product-card p {
    font-size: 13px;
    line-height: 0px;
    color: gray;
    
  }
  
  .card-bottom-text > .off {
    color: red;
  }
  .card-bottom-text > .cost {
    font-weight: bold;
  }

  .product-card {
    width: 10vw;
    align-items: center;
  } */

.productCard{
  margin: 10px;
  border: 1px solid black;
}
