/* details  */

.circle-buttons button {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.circle-buttons button:hover {
  border: 1px solid rgb(248, 42, 76);
}

.add-to-bag-btn {
  background: rgb(250, 59, 107);
  width: 45%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  margin: 15px;
}
.add-to-bag-btn:hover {
  background: rgb(241, 111, 133);
}
.wishlist-btn {
  margin: 15px;
  border: 1px solid lightgray;
  background: white;
  width: 42%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}
.wishlist-btn:hover {
  background-color: lightgray;
}
@media (max-width: 640px) {
  .add-to-bag-btn {
    width: 100%;
  }
  .wishlist-btn {
    width: 100%;
  }
}

/* detailImage */
/* comment */
.detail_container {
  display: inline-block;
  overflow: hidden;
}
.detail_container img {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  display: block;
  transition: transform 0.4s;
}
.detail_container:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

/* comment */

.imagesHolder > img {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  display: block;
  transition: transform 0.4s;
}
.imagesHolder > img:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.detail-container {
  width: 100vw;
  height: 120vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  margin-left: 5vw;
  overflow: hidden;
}

.imagesHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18vw, 2fr));
  grid-gap: 30px;
  grid-auto-rows: minmax(18vw, auto);
  grid-auto-columns: minmax(10vh, auto);
  flex-grow: 1;
  max-width: 50%;
  margin: 10% 1%;
}

.optionsHolder {
  flex-grow: 1;
  max-width: 30%;
  margin: 10% 10%;
}
